/**
 * Add your custom styles below
 * 
 * Remember: 
 * - Be organised, use comments and separate your styles into meaningful chunks
 *    for example: General styles, Navigation styles, Hero styles, Footer etc.
 * 
 */

header {

}

 a {
    text-decoration: none;
    color: black;
    transition: color 0,5sec ease;
}

a:hover, a:focus {

    color: #555;

}

h2 {
    text-align: center;
}

/*.nav {
    display: flex;
    justify-content: space-between;
}*/

.navbar {
    color: white;
}

.hero {
    display: flex;
    height: 400px;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero img {
    height: 200px;
}

.projects {
    color: white;
}

.card-container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
}

.card {
    width: 80%;
    margin-bottom: 1rem;
    border: solid 1px black;
    text-align: center;
}

.card-image {
    width: 100%;
}
footer {
    background: lightgray;
    text-align: center;
    color: black;
}


@media screen and (min-width: 570px) {
    .hero {
        height: 500px;
    }
    .card-container {
        flex-direction: row;
        align-items: flex-start;
    }

    .card {
        margin: 0  .5rem;
    }
}